.appTitle > h1 {
  font-size: 36px;
  color: #21a6c7;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: #1a738a;
}

.appTitle > p {
  color: #1a738a;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
